<%= form_for(@feed) do |f| %>

  <div class="field">
    <%= f.label :url, "Enter Website Url in form of http://abcd.com" %><br />
    <!--<%= f.url_field(:url) %>-->
   <input id="feed_url" name="feed[url]" size="30" type="url" data-validation="validate_url" />

  </div>

  <div class="actions" >
    <%= f.submit %>
  </div>

<% end %>

<script>
   
   var validationSettings = {
       errorMessagePosition : 'element',
       borderColorOnError : ''
   };

   $('#new_feed')
       .submit(function() {
           if ($(this).validate(false, validationSettings))
               return true;

           return false;

       })
       .validateOnBlur(false, validationSettings)
       .showHelpOnFocus();

   

</script>


